@font-face {
  font-family: great-vibe;
  src: url(../../../public/GreatVibes.ttf);
}

@font-face {
  font-family: protest-riot;
  src: url(../../../public/ProtestRiot.ttf);
}

.great-vibe-font {
  font-family: great-vibe;
}

.protest-riot-font {
  font-family: protest-riot;
}